{{ define "main" }}

<div class="post-meta">
    <p><a href="{{ .Site.BaseURL }}">首页</a> | <a href="{{ .Site.BaseURL }}about">关于</a> | <a href="{{ .Site.BaseURL }}posts">归档</a> | <a href="{{ .Site.BaseURL }}weekly">周记</a> | <a href="{{ .Site.BaseURL }}friends/">友邻</a> | <a href="{{ .Site.BaseURL }}goods">展柜</a> | <a href="{{ .Site.BaseURL }}others">画板</a></p>  
</div>
<article>
    <h1>{{ .Title }}</h1>

    <div class="postmeta">
        <p>
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ .Date | time.Format site.Params.theme_config.date_format }}
            </time>
            • 约{{ .WordCount }}字
        </p>
    </div>

    <div style="position: fixed; right:3px; max-width:400px; overflow:auto; top: 100px; width: 12vw; bottom:50px; font-size: 90%;">
        {{ partial "toc.html" . }}
    </div>
    {{ .Content }}
    <div class="pre-next">
        {{with .PrevInSection}}
            <a class="pre-next-btn bg" href="{{.Permalink}}"><< {{ .Title }}</a>
        {{end}}
        {{with .NextInSection}}
            <a class="pre-next-btn bg" href="{{.Permalink}}">{{ .Title }} >></a>
        {{end}}
    </div>

    {{ if .Params.comment }}
        {{ partial "comment.html" . }}
    {{ end }}
</article>
{{ end }}