{{ define "main" }}
<div class="post-meta">
    <p><a href="{{ .Site.BaseURL }}">首页</a> | <a href="{{ .Site.BaseURL }}about">关于</a> | <a href="{{ .Site.BaseURL }}posts">归档</a> | <a href="{{ .Site.BaseURL }}friends/">友邻</a> | <a href="{{ .Site.BaseURL }}others">其他</a> | <a href="{{ .Site.BaseURL }}index.xml">RSS</a></p>
</div>
<div class="category-list">
  <h1>{{ .Title }}</h1>
  <ul>
    {{ range .Pages }}
    <li>
        <span class="post-date">{{ .Date.Format "2006-01-02" }}  </span>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}