// -------------- THEME SWITCHER -------------- //
@mixin theme($--bg-color, $--primary-text-color, $--secondary-text-color, $--link-color, $--visited-link-color, $--highlight) {
  background-color: $--bg-color;

  color: $--primary-text-color;

  a {
    color: #203968;
    &:visited { color: #203968; }
  }

  details {
    border: thin solid $--primary-text-color;
  }

  details summary {
    color: $--primary-text-color;
  }

  details[open] summary {
    border-bottom: 1px solid $--primary-text-color;
  }

  pre {
    background: $--bg-color;
  }

  code:not(pre > code) {
    background-color: $--primary-text-color;
    color: $--bg-color;
  }

  *:target {
    background: $--highlight;
    color: $--primary-text-color;
   }

  table, th, td {
    border: thin solid $--primary-text-color;
  }

  .toc {
    border: thin solid $--primary-text-color;
    padding: 1rem;
  }

  figcaption { color: $--secondary-text-color; }

}

@mixin dark-appearance {
  @include theme(#000000, #203968, #000000, #79a8ff, #f78fe7, #2f3849); // modus-vivendi
}

@mixin light-appearance {
  @include theme(#ffffff, #000000, #595959, #3548cf, #8f0075, #f8f6ef); // modus-operandi
}

body[a="dark"] { @include dark-appearance; }
body[a="light"] { @include light-appearance; }

@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}

@media (prefers-color-scheme: light) {
  body[a="auto"] { @include light-appearance; }
}

// -------------------------------------------- //

html { height: 100%; }

body {
  font-family: 'Noto Serif SC','Noto Serif KR', serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

// 应用主题样式
body[a="dark"] {
  background: 
    /* 网格效果 */
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 10px,
      rgba(255, 255, 255, 0.1) 10px,
      rgba(255, 255, 255, 0.1) 20px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 10px,
      rgba(255, 255, 255, 0.1) 10px,
      rgba(255, 255, 255, 0.1) 20px
    ),
    /* 现有的背景效果 */
    linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #ffffff 50%, rgba(255,255,255,0) 0) 60px 0 rgb(112, 176, 213);
  background-size: 120px 200px;
  background-repeat: repeat, repeat, repeat-x, repeat-x, repeat-x;
}

body[a="light"] {
  background-color:white;
  background-image: linear-gradient(90deg, rgba(199, 163, 163, 0.5) 50%, transparent 50%),
  linear-gradient(rgba(199, 156, 156, 0.5) 50%, transparent 50%);
  background-size:50px 50px;
}

h2, h3, h4, h5, h6 { margin-top: 1.5rem; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

a {
  text-decoration: none;
  text-shadow: #fdf056 0px 2px 10px;
}

a:hover {
  font-weight: bold; /* 确保文本加粗 */
  text-shadow: #1d6ade86 0px 0px 10px;
}

hr {
  text-align: center;
  border: 0;
  margin: 2rem 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

pre {
  padding: 1em;
  overflow-x: auto; /* Fix pre content overflowing parent without scroll bar */
}

table { width: 100%; }

table, th, td {
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

code:not(pre > code) {
  padding: 0.1em 0.2em;
  font-size: 90%;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

blockquote {
  background-color: #ffffff38;
  border-left: 4px solid #6c9f47;
  margin: 20px 0;
  padding: 5px 20px;
  font-style: normal;
  color: #203968;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  opacity: 0.5;
}

details {
  padding: 1rem;
}

details summary {
  text-decoration: none;
}

details[open] summary {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#0056b3;
  text-align: left !important;
}

/* 设置 post-meta 中超链接的默认颜色 */
.post-meta a {
  color: #0056b3 !important; /* 例如，设置为蓝色 */
  text-decoration: none; /* 去除下划线 */
  text-shadow: none;
}

/* 设置 post-meta 中超链接鼠标悬停时的颜色 */
.post-meta a:hover {
  color: #0056b3; /* 例如，设置为深蓝色 */
  font-weight: bold; /* 确保文本加粗 */
  text-shadow: #3f5d808f 0px 0px 20px;
}

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.toc {
  padding: 1rem;
}

/* 设置两栏布局 */
.two-column-layout {
  display: flex;
  gap: 20px; /* 两栏之间的间距 */
  margin-top: 20px;
}

.two-column-layout .note {
  flex: 1; /* note 栏的宽度 */
  background-color: #f5d4d400; /* 背景颜色 */
  padding: 0px; /* 内边距 */
  border-radius: 10px; /* 圆角 */
  border: 1px solid #e0e0e000; /* 边框 */
}

.note a {
  text-decoration: none; /* 移除链接下划线 */
  text-shadow: #e0e0e000 0px 0px 0px !important;
}

.two-column-layout .content {
  flex: 5; /* content 栏的宽度 */
}

footer {
  margin-top: auto;
  padding: 10px;
  background-color: #33333300;
  color: #00000071;
  text-align: center;
}

.site-description {
  color: #242952; /* 深蓝色 */
}

strong, b {
  font-weight: bold; /* 确保文本加粗 */
}

/* 在全局CSS文件中定义变量 */

:root {
  --blur-color-light: #5a2a1a; /* 默认的高斯模糊颜色（亮色模式） */
  --blur-color-dark: #e8ddd1; /* 暗色模式下的高斯模糊颜色 */
}

[data-theme='dark'] {
  --blur-color: var(--blur-color-dark);
}

[data-theme='light'] {
  --blur-color: var(--blur-color-light);
}

/* styles.css 或 main.scss */



.post-title {
  display: inline; /* 使元素在同一行显示 */
  margin-left: 10px; /* 添加一些左侧间距 */
}

.post-categories {
  margin-top: 0px; /* 添加一些顶部间距 */
  display: inline; /* 使元素在同一行显示 */
  font-size: 0.8em; /* 设置字体大小 */
  color: #19203a !important; /* 设置文字颜色 */
  margin-left: 10px; /* 添加一些左侧间距 */
}

.post-categories strong {
  font-weight: bold; /* 强调 "Categories:" 文字 */
  color: #f0e116; /* 设置强调文字颜色 */
}

.post-categories a {
  text-decoration: none; /* 移除链接下划线 */
  color: #070c11 !important; /* 设置链接颜色 */
  text-shadow: none;
}

.post-categories a:hover {
  color: #0056b3; /* 设置悬停时的链接颜色 */
  text-shadow: #f3f7d6 0px 0px 10px;
}

//鼠标指针自定义
body{cursor:url(/images/Pock.cur), default !important;} //默认时的鼠标样式
a:hover{cursor:url(/images/Pockycrunchypink.cur), pointer !important;} //指向链接时的鼠标样式

.pre-next {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.pre-next-btn {
  font-size: 1rem;
  transition: font-size 0.3s ease;
  /* 添加平滑过渡效果 */
}
/* 手机端适配：布局变为单列 */
@media (max-width: 768px) {
    .pre-next-btn {
    font-size: 3.5vw;
    }
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin: 2em auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: hsla(var(--color-contrast-lower-h), var(--color-contrast-lower-s), var(--color-contrast-lower-l), 0.5);
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  img {
      margin: 0 !important;
  }
}

@media only screen and (max-width: 1224px) {
  .post-toc {
    display: none;
  }
}

.text-center {
  text-align: center;
  font-size: 0.9rem;
}