// -------------- THEME SWITCHER -------------- //
@mixin theme($--bg-color, $--primary-text-color, $--secondary-text-color, $--link-color, $--visited-link-color, $--highlight) {
  background-color: $--bg-color;

  color: $--primary-text-color;

  a {
    color: $--link-color;
    &:visited { color: $--link-color; }
  }

  details {
    border: thin solid $--primary-text-color;
  }

  details summary {
    color: $--primary-text-color;
  }

  details[open] summary {
    border-bottom: 1px solid $--primary-text-color;
  }

  pre {
    background: $--bg-color;
  }

  code:not(pre > code) {
    background-color: $--primary-text-color;
    color: $--bg-color;
  }

  *:target {
    background: transparent;
    color: $--primary-text-color;
   }

  table, th, td {
    border: thin solid $--primary-text-color;
  }

  .toc {
    border: thin solid $--primary-text-color;
    padding: 1rem;
  }

  figcaption { color: $--secondary-text-color; }

}

@mixin dark-appearance {
  @include theme(
    #fdfaf6,   // 背景底：奶油白
    #381a14,   // 主文本：深绿
    #6b7c71,   // 次文本：灰绿
    #832e54,   // visited 链接：偏深粉
    #832e54,   // visited 链接：偏深粉
    #f3f0e4    // 高亮背景（暂时没用很多）
    ); // modus-vivendi
}

@mixin light-appearance {
  @include theme(#ffffff, #000000, #595959, #203968, #203968, #f8f6ef); // modus-operandi
}

body[a="dark"] { @include dark-appearance; }
body[a="light"] { @include light-appearance; }

@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}

@media (prefers-color-scheme: light) {
  body[a="auto"] { @include light-appearance; }
}

// -------------------------------------------- //

html { height: 100%; }

body {
  font-family: 'Noto Serif SC','Noto Serif KR', serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

// 应用主题样式
body[a="dark"] {
  background-image: url("/images/v752-ning-21b.jpg"); /* 背景图路径 */
  background-repeat: repeat;                   /* 重复平铺 */
  background-size: 1700px auto;      /* 控制单个图案大小 */
  background-position: top left;
  background-color: #dff0fd00;                   /* 背景底色，防止图片透明 */
  background-attachment: fixed;
  /*
  background: 
    网格效果
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 10px,
      rgba(255, 255, 255, 0.1) 10px,
      rgba(255, 255, 255, 0.1) 20px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 10px,
      rgba(255, 255, 255, 0.1) 10px,
      rgba(255, 255, 255, 0.1) 20px
    ),
    现有的背景效果 
    linear-gradient(#f5e2a4 50%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #fae8af 53%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #fade96 50%, rgba(255,255,255,0) 0) 60px 0 rgb(150, 207, 138);
  background-size: 120px 220px;
  background-repeat: repeat, repeat, repeat-x, repeat-x, repeat-x;
  */
}

/* 手机端背景优化 */
@media (max-width: 768px) {
  body {
    background-size: 1500px auto !important; /* 缩小图案 */
    background-position: top left !important; /* 居中，不偏 */
    background-repeat: no-repeat !important; /* 更自然地拼接 */
    background-attachment: fixed;
  }
}


body[a="light"] {
  background-image: url("/images/flowertile.png"); /* 背景图路径 */
  background-repeat: repeat;                   /* 重复平铺 */
  background-size: auto;                       /* 原始大小，不缩放 */
  background-attachment: fixed;                /* 页面滚动时背景不动（可选） */
  background-color: #dff0fdb4;                   /* 背景底色，防止图片透明 */
}

h1 {
  font-size: 1.5rem;         /* 标题大小 */
}

/* 依次递减的标题层级 */
h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.1rem;
}

h2, h3, h4, h5, h6 { margin-top: 1.5rem; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

a {
  text-decoration: none;
  text-shadow: #ecd96fbf 2px 2px 5px;
}

a:hover {
  font-weight: bold; /* 确保文本加粗 */
  text-shadow: #ecda6f8d 0px 0px 10px;
}

hr {
  border: none;                     /* 去掉默认线 */
  height: 35px;                     /* 根据水滴图片高度可调 */
  margin-left:15px;
  margin-right:15px;
  background-image: url("/images/divider12.png"); /* ← 换成你的路径 */
  background-repeat: no-repeat;      /* 水平平铺 */
  background-position: center;
  background-size: contain;         /* 保持原图比例 */
}


pre {
  padding: 1em;
  overflow-x: auto; /* Fix pre content overflowing parent without scroll bar */
}

table { width: 100%; }

table, th, td {
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

code:not(pre > code) {
  padding: 0.1em 0.2em;
  font-size: 90%;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

blockquote {
  background-color: #f7f2d481;
  background-image:
    linear-gradient(0deg, rgba(245, 185, 106, 0.479) 1px, transparent 1px),
    linear-gradient(90deg, rgba(245, 185, 106, 0) 1px, transparent 1px);
  background-size: 25px 25px; /* 网格间距 */
  border-left: 0px solid #f5b96ade;
  margin: 20px 0;
  padding: 5px 20px;
  font-style: normal;
  color: #203968;
  border-radius: 6px;
  box-shadow: 5px 5px 0px #70571644;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
}

figcaption {
  text-align: center;
  opacity: 0.5;
}

details {
  padding: 1rem;
}

details summary {
  text-decoration: none;
}

details[open] summary {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}



/* 设置 post-meta 中超链接的默认颜色 */

.post-meta {
  display: flex;
  flex-wrap: wrap;          /* 自动换行 */
  justify-content: center;  /* 居中对齐 */
  column-gap: 15px; /* 按钮之间左右距离 */
  row-gap: 0px;    /* 自动换行后上下距离 */

  background: rgba(255, 255, 255, 0);

  margin-bottom: 20px;
  margin-top: 10px;

  border: 0px dashed #689721;           /* 边框 */
  box-shadow: 0px 0px 0px #3a654760;   /* 柔和阴影 */
  border-radius: 10px;

}

.post-meta p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.post-meta a {
  text-shadow: none;
  display: inline-block;

  border-radius: 6px;
  background: #ffffffce;
  box-shadow: 2px 2px 2px #3378bd60;
  padding: 6px 10px;
  border: 0px dashed #262848;

  font-weight: 600;
  font-size: 0.95rem;
  margin-bottom: 8px;
  margin-top: 6px;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.2s;
}

.post-meta > *:nth-child(1) a {
  transform: rotate(-3deg) translateY(-4px) !important;
  background-image: url("/images/paper-texture-square.jpg"); /* 背景图路径 */
  background-size: 1000px auto !important; /* 缩小图案 */
  background-position: center !important; /* 居中，不偏 */
  background-repeat: no-repeat !important; /* 更自然地拼接 */
  background-attachment: fixed;
}

.post-meta > *:nth-child(2) a {
  transform: rotate(2deg) translateY(6px) !important;
  background-image: url("/images/paper-texture-square.jpg"); /* 背景图路径 */
  background-size: 100px auto !important; /* 缩小图案 */
  background-position: left !important; /* 居中，不偏 */
  background-repeat: no-repeat !important; /* 更自然地拼接 */
  background-attachment: fixed;
}

.post-meta > *:nth-child(3) a {
  transform: rotate(-1deg) translateY(3px) !important;
  background-image: url("/images/paper-texture-square.jpg"); /* 背景图路径 */
  background-size: 100px auto !important; /* 缩小图案 */
  background-position: right !important; /* 居中，不偏 */
  background-repeat: no-repeat !important; /* 更自然地拼接 */
  background-attachment: fixed;
}

.post-meta > *:nth-child(4) a {
  transform: rotate(3deg) translateY(-5px) !important;
  background-image: url("/images/paper-texture-square.jpg"); /* 背景图路径 */
  background-size: 100px auto !important; /* 缩小图案 */
  background-position: top center !important; /* 居中，不偏 */
  background-repeat: no-repeat !important; /* 更自然地拼接 */
  background-attachment: fixed;
}

.post-meta > *:nth-child(5) a {
  transform: rotate(-2deg) translateY(5px) !important;
  background-image: url("/images/paper-texture-square.jpg"); /* 背景图路径 */
  background-size: 100px auto !important; /* 缩小图案 */
  background-position: top left !important; /* 居中，不偏 */
  background-repeat: no-repeat !important; /* 更自然地拼接 */
  background-attachment: fixed;
}

.post-meta > *:nth-child(6) a {
  transform: rotate(1.5deg) translateY(-3px) !important;
  background-image: url("/images/paper-texture-square.jpg"); /* 背景图路径 */
  background-size: 100px auto !important; /* 缩小图案 */
  background-position: top right !important; /* 居中，不偏 */
  background-repeat: no-repeat !important; /* 更自然地拼接 */
  background-attachment: fixed;
}

.post-meta a:hover {
  transform: translateY(-2px);
}

.post-meta a:hover::before { 
  transform: rotate(360deg) scale(1.05);
  transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1.2);
}

.post-meta a::before {
  content: "";
  display: inline-block;
  margin-right: 6px;
  width: 14px;
  height: 14px;
  background-image: url("/images/demigirl.png"); /* 替换成你的小花图 */
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(350deg);
  opacity: 0.9;
  vertical-align: middle;
}

.w {
  box-sizing: border-box;   /* 让 padding 计入总宽度，避免页与页出现 2rem 差 */
  width: 100%;              /* 占满父容器，再用 max-width 卡住 */
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.toc {
  padding: 1rem;
}

/* 设置两栏布局 */
.two-column-layout {
  display: flex;
  gap: 10px;                             /* 两栏之间的间距 */
  margin-top: 20px;
}

/* 手机端（小屏幕）自动改为上下布局 */
@media (max-width: 768px) {
  .two-column-layout {
    flex-direction: column;  /* 改为上下排列 */
    gap: 12px;               /* 缩小间距 */
    margin-top: 10px;
  }

  .two-column-layout .note {
    order: 1;                /* 如果你想菜单在下方可以改成1或2 */
  }

  .two-column-layout .heart-note {
    order: 2;
  }
}

/* 手机端：导航横向排列 */
@media (max-width: 768px) {
  .two-column-layout {
    flex-direction: column;
  }

  .two-column-layout .note {
    display: flex;
    flex-wrap: wrap;          /* 自动换行 */
    justify-content: center;  /* 居中对齐 */
    gap: 10px;                 /* 按钮之间留点距离 */
    padding: 10px;
    border: 0px dashed #689721 !important;           /* 边框 */
    box-shadow: 0px 0px 0px #3a654760 !important;   /* 柔和阴影 */

  }

  .two-column-layout .note p {
    margin: 0;
  }

  .two-column-layout .note a {
    margin-bottom: 6px;
    display: inline-block;
    padding: 6px 10px;
    border-radius: 6px;
    text-decoration: none;
    background: #ffffffce;
    color: #215697;
    border: 0px solid #13417e;
    font-weight: 600;
    font-size: 0.95rem;
    box-shadow: 2px 2px 0 #bd5c3360;
    transition: all 0.2s;
  }

  .two-column-layout .note a:hover {
    background: #b6c99682;
    transform: translateY(-2px);
  }

  .note > *:nth-child(1) a {
    transform: rotate(-3deg) translateY(-4px) !important;
  }

  /* 第2个按钮 */
  .note > *:nth-child(2) a {
    transform: rotate(2deg) translateY(6px) !important;
  }

  /* 第3个按钮 */
  .note > *:nth-child(3) a {
    transform: rotate(-1deg) translateY(3px) !important;
  }

  /* 第4个按钮 */
  .note > *:nth-child(4) a {
    transform: rotate(3deg) translateY(-5px) !important;
  }

  /* 第5个按钮 */
  .note > *:nth-child(5) a {
    transform: rotate(-2deg) translateY(5px) !important;
  }

  /* 第6个按钮 */
  .note > *:nth-child(6) a {
    transform: rotate(1.5deg) translateY(-3px) !important;
  }

  }

.two-column-layout .note {
  flex: 1;                               /* note 栏的宽度 */
  background-color: #ffffff00;         /* 背景颜色 */
  padding: 5px 0px 5px 20px;           /* 上 右 下 左内边距 */
  border-radius: 10px;                   /* 圆角 */
  border: 0px solid #a25d41;           /* 边框 */
  box-shadow: 0px 0px 0px #88403264;   /* 柔和阴影 */
  margin-top:20px;
}

.note a {
  text-shadow: 1px 1px 0 #ffffffb1 !important;
  margin-top:5px;
  margin-bottom: 6px;
  display: inline-block;
  padding: 6px 10px;
  border-radius: 17px 19px 14px 17px;
  text-decoration: none;
  background: #ffffff9e;
  color: #215697;
  border: 0px solid #13417e;
  font-weight: 600;
  font-size: 0.95rem;
  box-shadow: 2px 2px 2px #bd5c3360;
  transition: all 0.2s;
}

.note a::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  background-image: url("/images/demigirl.png"); /* 替换为你的图标 */
  transform: rotate(350deg);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.note a:hover::before {
  transform: rotate(360deg) scale(1.05);
  transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1.2);
}

/* 第1个按钮 */
.note > *:nth-child(1) a {
  transform: rotate(-3deg) translateX(-4px);
  background-image: url("/images/colorful-watercolor-brush-strokes.jpg"); /* 背景图路径 */
  background-size: 300px auto !important; /* 缩小图案 */
  background-position: center !important; /* 居中，不偏 */
  background-repeat: no-repeat !important; /* 更自然地拼接 */
  background-attachment: fixed;
}

/* 第2个按钮 */
.note > *:nth-child(2) a {
  transform: rotate(2deg) translateX(6px);
  background-image: url("/images/colorful-watercolor-brush-strokes.jpg"); /* 背景图路径 */
  background-size: 300px auto !important; /* 缩小图案 */
  background-position: left !important; /* 居中，不偏 */
  background-repeat: no-repeat !important; /* 更自然地拼接 */
  background-attachment: fixed;
}

/* 第3个按钮 */
.note > *:nth-child(3) a {
  transform: rotate(-1deg) translateX(3px);
  background-image: url("/images/colorful-watercolor-brush-strokes.jpg"); /* 背景图路径 */
  background-size: 280px auto !important; /* 缩小图案 */
  background-position: right !important; /* 居中，不偏 */
  background-repeat: no-repeat !important; /* 更自然地拼接 */
  background-attachment: fixed;
}

/* 第4个按钮 */
.note > *:nth-child(4) a {
  transform: rotate(3deg) translateX(-5px);
  background-image: url("/images/colorful-watercolor-brush-strokes.jpg"); /* 背景图路径 */
  background-size: 310px auto !important; /* 缩小图案 */
  background-position: top center !important; /* 居中，不偏 */
  background-repeat: no-repeat !important; /* 更自然地拼接 */
  background-attachment: fixed;
}

/* 第5个按钮 */
.note > *:nth-child(5) a {
  transform: rotate(-2deg) translateX(4px);
  background-image: url("/images/colorful-watercolor-brush-strokes.jpg"); /* 背景图路径 */
  background-size: 300px auto !important; /* 缩小图案 */
  background-position: top left !important; /* 居中，不偏 */
  background-repeat: no-repeat !important; /* 更自然地拼接 */
  background-attachment: fixed;
}

/* 第6个按钮 */
.note > *:nth-child(6) a {
  transform: rotate(1.5deg) translateX(-3px);
  background-image: url("/images/colorful-watercolor-brush-strokes.jpg"); /* 背景图路径 */
  background-size: 300px auto !important; /* 缩小图案 */
  background-position: top right !important; /* 居中，不偏 */
  background-repeat: no-repeat !important; /* 更自然地拼接 */
  background-attachment: fixed;
}


/* 爱心便签盒子 */
.two-column-layout .heart-note {
  flex: 4;                               /* content 栏的宽度 */
  position: relative;
  width: 520px; 
  aspect-ratio: 600 / 606;
  background-image: url("/images/2-lighter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;        /* 让整张爱心完整显示，不被拉伸 */
  padding: 0px 25px 0px 20px;    /* 调整文字在爱心里的位置 */
  margin: 0 auto;                  /* 居中 */
  filter: drop-shadow(2px 2px 2px #bd5c3360); /* ❤️ 阴影 */
}


/* 适配小屏：宽度缩小一点 */
@media (max-width: 768px) {
  .two-column-layout .heart-note {
  padding: 0px 0px;    /* 调整文字在爱心里的位置 */
  margin-top:-80px;

  }
}

.two-column-layout .content {
  background-color: rgba(252, 198, 179, 0);          /* 背景颜色 */
  padding: 60px 0px 10px 5px;           /* 上 右 下 左内边距 */
  border-radius: 0px;                   /* 圆角 */
  border: 0px solid #a25d41;           /* 边框 */
  box-shadow: 0px 0px 0px #88403264;   /* 柔和阴影 */
  transform: rotate(355deg);

}

@media (max-width: 768px) {
  .two-column-layout .content {
    padding:120px 0px 10px 50px;           /* 上 右 下 左内边距 */
  }
}


.two-column-layout .content> ul {
  margin-right: 20px;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0);         /* 背景颜色 */
  padding: 20px 10px 10px 20px;           /* 上 右 下 左内边距 */
  border-radius: 10px 35px 35px 35px;                   /* 圆角 */
  list-style: none !important;                      /* 去掉默认圆点 */
}

.two-column-layout .content> ul> ul {
  list-style: none !important; /* 去掉默认圆点 */
  padding-left: 22px; /* 留出花的空间 */
}

.post-item {
  position: relative;
  padding-left: 0px;      /* 小花占位 */
}
.post-item::before {
  content: "";
  display: inline-block;
  width: 14px; 
  height: 14px;
  background-image: url("/images/demigirl.png"); /* 替换为你的图标 */
  transform: rotate(350deg);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.post-item:hover::before { 
  transform: rotate(360deg) scale(1.05);
  transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1.2);
}
.post-list-info {
    display: flex;
    align-items: center;     /* 可选，让日期标题对齐 */
}


/* 日期胶囊：统一宽度 + 居中 */
.post-date {
  flex: 0 0 auto;                /* 它自己不拉伸、不挤压 */
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 4.6em;                  /* 统一宽度，自己调大小 */
  padding: 2px 0;                /* 上下稍微留一点空间 */
  border-radius: 5px;
  background: rgba(107, 122, 119, 0.12);

  font-size: 0.8rem;
  color: #6b7a77;
}

/* 手机端适配：布局变为单列 */
@media (max-width: 768px) {
    .post-date {
    margin-right: 10px;
    }
}

.message-board {
  text-align: center;               /* 内容居中 */
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 10px 20px 5px 0px;           /* 上 右 下 左内边距 */
  list-style: none;                      /* 去掉默认圆点 */
}

.message-board ul {
  list-style: none;
}




footer {
  margin-top: auto;
  padding: 10px;
  background-color: #33333300;
  color: #4f240d;
  text-align: center;
  font-weight: bold; 
  font-size: 0.9rem;
}

.site-description {
  color: #242952; /* 深蓝色 */
}

strong, b {
  font-weight: bold; /* 确保文本加粗 */
}

/* 在全局CSS文件中定义变量 */

:root {
  --blur-color-light: #5a2a1a; /* 默认的高斯模糊颜色（亮色模式） */
  --blur-color-dark: #e8ddd1; /* 暗色模式下的高斯模糊颜色 */
}

[data-theme='dark'] {
  --blur-color: var(--blur-color-dark);
}

[data-theme='light'] {
  --blur-color: var(--blur-color-light);
}

/* styles.css 或 main.scss */



.post-title {
  display: flex;
  align-items: center;
  gap: 10px;        /* 标题和日期之间的间距 */
  width: 100%;
  margin-left: 10px;
}

.post-title a {
  flex: 1 1 auto;   /* 占满剩余空间 */
  min-width: 0;     /* ☆ 防止 flex 子项拒绝收缩，关键！！ */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: none;     /* 取消阴影 */
  color:#381a14 !important;

}

.post-title a:hover {
  font-weight: bold; /* 确保文本加粗 */
  text-shadow: #decb1d8d 0px 0px 10px;
}

.post-categories {
  margin-top: 0px; /* 添加一些顶部间距 */
  display: block;
  font-size: 0.8em; /* 设置字体大小 */
  margin-left: 10px; /* 添加一些左侧间距 */
  margin-top: 4px; 
}

.post-categories strong {
  font-weight: bold; /* 强调 "Categories:" 文字 */
  color: #f0e116; /* 设置强调文字颜色 */
}

.post-categories a {
  text-decoration: none; /* 移除链接下划线 */
  text-shadow: none;
  display: inline-block;       /* 一行显示一个标签块 */
  margin-top: 4px;      /* 与标题保持距离 */
}

.post-categories a {
    pointer-events: none;
    cursor: default;
    color: inherit;  /* 防止主题自动变蓝 */
    text-decoration: none;
    color: #0e284c !important; /* 设置文字颜色 */
}


.post-categories a::before {
  content:"#";
  color: #413d07; /* 设置强调文字颜色 */
  font-weight: bold; /* 强调 "Categories:" 文字 */
}

.post-categories a:hover {
  color: #0056b3; /* 设置悬停时的链接颜色 */
  text-shadow: #f3f7d6 0px 0px 10px;
}

//鼠标指针自定义
body{cursor:url(/images/Pock.cur), default !important;} //默认时的鼠标样式
a:hover{cursor:url(/images/Pockycrunchypink.cur), pointer !important;} //指向链接时的鼠标样式

.pre-next {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;   /* 任选其一或两个都加 */
  
}

.pre-next-btn {
  font-size: 1rem !important;
  transition: font-size 0.3s ease;
  /* 添加平滑过渡效果 */
}
/* 手机端适配：布局变为单列 */
@media (max-width: 768px) {
    .pre-next-btn {
    font-size: 3.5vw;
    }
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin: 2em auto;
  border-radius: 12px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: hsla(var(--color-contrast-lower-h), var(--color-contrast-lower-s), var(--color-contrast-lower-l), 0.5);
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  img {
      margin: 0 !important;
  }
}

/* 桌面端浮动 TOC */
.post-toc {
  border-radius: 12px;
  padding: 10px 5px;
  margin: 10px 0;
  font-size: 0.95rem;

  border: 2px dashed #262848;
  border-radius: 20px 24px 23px 27px;
  box-shadow: 5px 5px 2px #1e374b60;   /* 柔和阴影 */
  background-image: url("/images/paper-texture-square.jpg"); /* 背景图路径 */
  background-size: 700px auto !important; /* 缩小图案 */
  background-position: top center !important; /* 居中，不偏 */
  background-repeat: repeat !important; /* 更自然地拼接 */
  background-attachment: scroll;
}

/* 默认隐藏移动 TOC */
.post-toc-mobile {
  display: none;
}

/* 普通一级目录 */
.post-toc ul {
  margin-left: 0rem;   /* 改成你想要的 */
}

.post-toc ul ul {
  margin-left: -1.75rem;   /* 改成你想要的 */
}


@media only screen and (max-width: 1224px) {
  .post-toc {
    display: none;
  }
}

.text-center {
  text-align: center;
  font-size: 0.9rem;
}

.page-content {
  display: flex;
  justify-content: center;
}

.page-content article {
  /*background-color: rgba(255, 214, 206, 0.3); 
  max-width: 552px;   */
  border: 0px dashed #262848;
  padding: 5px 32px 10px 32px;
  border-radius: 20px 24px 23px 27px;
  box-shadow: 5px 5px 2px #1e374b60;   /* 柔和阴影 */
  background-image: url("/images/paper-texture-1000.png"); /* 背景图路径 */
  background-size: 700px auto !important; /* 缩小图案 */
  background-position: top center !important; /* 居中，不偏 */
  background-repeat: repeat !important; /* 更自然地拼接 */
  background-attachment: scroll;

}

.page-content .article_inside {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0);         /* 背景颜色 */
  border-radius: 12px;
  padding: 5px 32px 10px 32px;
}

.page-content .comment_inside {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0);         /* 背景颜色 */
  border-radius: 12px;
  padding: 5px 32px 10px 32px;
}

.article2 {
  border: 2px dashed #262848;
  padding: 5px 32px 10px 32px;
  border-radius: 20px 24px 23px 27px;
  box-shadow: 5px 5px 2px #1e374b60;   /* 柔和阴影 */
  background-image: url("/images/paper-texture-1000.png"); /* 背景图路径 */
  background-size: 700px auto !important; /* 缩小图案 */
  background-position: top center !important; /* 居中，不偏 */
  background-repeat: repeat !important; /* 更自然地拼接 */
  background-attachment: scroll;
}


.article2_inside {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0);         /* 背景颜色 */
  border-radius: 12px;
  padding: 5px 32px 10px 32px;
}

/* 📱手机端优化 */
@media (max-width: 768px) {
  .page-content article {
    padding: 10px 6px 10px 6px;

  }

  .page-content .article_inside {
    padding: 5px 12px;   /* 内层白底的左右内边距缩小 */
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .page-content .comment_inside {
    padding: 5px 12px;   /* 内层白底的左右内边距缩小 */
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .article2 {
    padding: 10px 6px 10px 6px;
  }

  .article2_inside {
    padding: 5px 12px;   /* 内层白底的左右内边距缩小 */
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.page-content ul {
  list-style: none; /* 去掉默认圆点 */
  padding-left: 1.6em; /* 保留缩进 */
}

.page-content ul li {
  position: relative;
  padding-left: 1.4em; /* 给小花留空间 */
  margin-bottom: 0.4em;
  line-height: 1.4;
}

.page-content ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.35em;
  width: 14px;
  height: 14px;
  background-image: url("/images/demigirl.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(350deg);
  opacity: 0.9;
}

/* 系统为 dark  */
@media (prefers-color-scheme: dark) {
  body .page-content ul li:hover::before { 
    background-image: url("/images/neutrois.png"); 
    transform: scale(1.5) rotate(370deg);
}

  body .post-meta a:hover::before {
    background-image: url("/images/neutrois.png");
    transform: scale(1.5) rotate(370deg);
  }

  body .note a:hover::before {
    transform: scale(1.5) rotate(370deg);
    background-image: url("/images/neutrois.png"); 
  }

  body .post-item:hover::before { 
    transform: scale(1.5) rotate(370deg);
    background-image: url("/images/neutrois.png"); 
  }

}





.page-content ul li:hover::before { 
  transform: rotate(360deg) scale(1.05);
  transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1.2);
}

img.emoji {
  height: 1.2em; /* 如果需要像毛象一样大，则height和width都设置为1.8em */
  width: 1.2em;
  display: inline;
  margin: 0.15em; 
  vertical-align: -0.2em; /* 表情在文字间对齐可以微调 */
  border-radius: 0px;
  transition: transform 0.2s ease, height 0.2s ease, width 0.2s ease;
  }

img.emoji:hover {
  height: 2.4em; /* 如果需要像毛象一样大，则height和width都设置为1.8em */
  width: 2.4em;
  }

.accordion {
  border: none, !important;
  background-color: none;
  transition: all 0.3s ease;
  padding: 0px;
}

.accordion[open] summary {
  background-color: none;
}

.accordion summary {
  display: flex;
  align-items: center;
}

.accordion summary::marker {
  display: none;
}

.accordion summary::before {
  content: "▸";
  font-size: 1.5rem; /* 调整这里，比如 1.5rem、2rem 都可以 */
  margin-right: 0.5rem;
  color: #343f55;
  transition: transform 0.3s ease;
}

.accordion[open] summary::before {
  transform: rotate(90deg);
}

/* db-card -------- start */
.db-card {
  margin: 1rem 1.5rem;
  background: var(--color-codebg);
  border-radius: 7px;
  box-shadow: 5px 5px 3px 0 #29357a53;
}

.db-card-subject {
  display: flex;
  align-items: flex-start;
  line-height: 1.6;
  padding: 12px;
  position: relative;
}

.dark .db-card {
  background: var(--color-codebg);
}

.db-card-content {
  flex: 1 1 auto;
}

.db-card-post {
  width: auto;
  margin-right: 15px;
  display: flex;
  flex: 0 0 auto;
}

.db-card-title {
  margin-bottom: 3px;
  font-size: 15px;
  color: var(--card-text-color-main);
  font-weight: bold;
}

.db-card-title a {
  text-decoration: none!important;
}

.db-card-abstract,
.db-card-comment {
  font-size: 13px;
  overflow: auto;
  max-height: 6rem;
  color: var(--card-text-color-main);
}

.db-card-cate {
  position: absolute;
  top: 0;
  right: 0;
  background: #c7e1c3;
  [data-theme='dark'] & {
    background: #61835c;
  }
  padding: 1px 8px;
  font-size: small;
  font-style: italic;
  border-radius: 0 8px 0 8px;
  text-transform: capitalize;
}

.db-card-post img {
  width: auto;
  height: 120px!important;
  border-radius: 4px;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 600px) {
  .db-card {
      margin: 0.8rem 1rem;
  }

  .db-card-comment {
      display: none;
  }

  .db-card-title {
      font-size: 13px;
  }
  .rating {
      font-size: 12px;
  }
  .db-card-abstract,
.db-card-comment {
  font-size: 11px;
}
}
/* db-card -------- end */


/* 图片本体：不强制 block，自动适应父容器 */
.zoomable{
  border-radius: 20px;
}


/* 每个图片块 inline-block，这样才能并排 */
.imgwidth-item {
  display: inline-block;
  vertical-align: top;
  margin: 0.2rem;
  text-align: center;
}

/* 内部 img 默认 width:100%（继承 imgwidth 的逻辑） */
.imgwidth-item img {
  display: inline-block !important; /* 避免主题覆盖成 block */
  width: 100%;
  height: auto;
  border-radius: 12px;
}

