{{ define "main" }}

{{ $twemojiJS := resources.Get "js/twemoji.min.js" }}
<script src="{{ $twemojiJS.RelPermalink }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    twemoji.parse(document.body, {
    base: '{{ "/my-emojis/" | relURL }}', 
    folder: 'svg', 
    ext: '.svg' 
    });
    });
</script>

<div class="article2">
<div class="article2_inside">

<h1>{{ .Title }}</h1>

{{ .Content }}

<!-- divide post list by year  -->
{{ if  .Site.Params.theme_config.isListGroupByDate  }}
    {{ range .Pages.GroupByDate "2006" }}
    <p>{{ .Key }}</p>
    <ul>
        {{ range .Pages }}
            <li>
                <div class="post-title">
                    <a href="{{ .RelPermalink }}">  {{ .Title }}</a>
                    <span class="post-date">{{ .Date.Format "Jan 02" }}  </span>
                    {{ if .Params.categories }}
                </div>
                <div class="post-categories">
                    {{ range .Params.categories }}
                        <a href="{{ "/categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                </div>
            {{ end }}
            </li>
        {{ end }}
    </ul>
    {{ end }}
{{ else }}
    {{ partial "post_list.html" (dict "context" . "section" .Section)}}
{{ end }}
</div>
</div>
{{ partial "footer.html" . }}
{{ end }}