{{ define "main" }}
<article>
    <h1>{{ .Title }}</h1>

    <div class="postmeta">
        <p>
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ .Date | time.Format site.Params.theme_config.date_format }}
            </time>
            • 约{{ .WordCount }}字
        </p>
    </div>

    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}
    {{ .Content }}

        <!-- Waline 评论区 -->
        <div id="waline"></div>
        <script>
          Waline.init({
            el: '#waline',
            serverURL: 'https://waline-moko.vercel.app', // 替换为你的 Waline 服务器地址
            // 其他配置项
            pageview: false, // 开启页面浏览量统计
            visitor: true, // 开启访客信息统计
            emoji = ["https://cdn.jsdelivr.net/gh/norevi/waline-blobcatemojis@1.0/blobs",
            "https://cdn.jsdelivr.net/gh/norevi/blob-emoji-for-waline@2.0/blobs-gif",
            "https://cdn.jsdelivr.net/gh/norevi/blob-emoji-for-waline@2.0/blobs-png",
            "https://unpkg.com/@waline/emojis@1.1.0/tw-emoji",
            "https://unpkg.com/@waline/emojis@1.1.0/alus"],
            meta = ["nick", "mail", "link"],
            requiredMeta = []
          });
        </script>
</article>
{{ end }}